<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410297498914-94gg2chfm2gjqgukljq60ehek7rogkgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410297498914-94gg2chfm2gjqgukljq60ehek7rogkgj</string>
	<key>API_KEY</key>
	<string>AIzaSyDphGlKengTq_3jZYGdDq-a-yzz1bN3G8E</string>
	<key>GCM_SENDER_ID</key>
	<string>410297498914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Netscapelabs.SurpriseMe.User</string>
	<key>PROJECT_ID</key>
	<string>surpriseme-artist</string>
	<key>STORAGE_BUCKET</key>
	<string>surpriseme-artist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410297498914:ios:49711cb6b302f6b5ad397b</string>
	<key>DATABASE_URL</key>
	<string>https://surpriseme-artist.firebaseio.com</string>
</dict>
</plist>